:root {
    --couleur-fonce: #22323f;
    --couleur-claire: #e2dad4;
    --couleur-tierce: #9b2449;
    --font: 'Montserrat', sans-serif;
    --table-hover-cell-bg: var(--couleur-tierce);
    --indigo-50: var(--couleur-tierce);
    --button-secondary-bg: var(--couleur-fonce);
    --datalist-border-color: var(--couleur-fonce);
    --gray-200: var(--couleur-fonce);
}

/* ----------------------------------- navbar de gauche ------------------------------- */

.ts-dropdown-content .active {
    background-color: var(--couleur-tierce) !important;
    color: white !important;
}

/* couleur navbar */
.sidebar {
    background-color: var(--couleur-claire);
}

/* couleur du haut en mobile */
.responsive-header {
    background-color: var(--couleur-claire);
}

/* couleur label & icon actif navbar */
.active a span,
.active a .menu-icon {
    color: var(--couleur-claire) !important;
}

.submenu .active {
    background-color: var(--couleur-fonce) !important;
}

.menu-icon,
.submenu-toggle-icon {
    color: var(--couleur-fonce) !important;
}

.menu-header-contents {
    color: var(--couleur-tierce);
}

/* -------------------------------- Le body ------------------------------ */
/* autour barre de recherche */
.content-top {
    background-color: var(--couleur-fonce);
}

/* couleur de toutes les données de la table */
table span,
table a,
tr,
h1,
.content-search-icon #main-menu .menu .menu-item.active:not(.expanded) .menu-icon,
#main-menu .menu .menu-item.active:not(.expanded) a {
    color: var(--couleur-claire) !important;
}

#new-Blog-form .field-date,
#edit-Blog-form .field-date {
    display: none;
}

/* couleur des boutons hauts bas */
table .fa-sort {
    color: var(--couleur-tierce) !important;
}

/* gère couleur bouton précédent, suivant, numéro de page en bas */
/* gère la couleur des label des questions */
/* gère couleur du label image */
.page-item .page-link,
.form-group label,
.form-group legend {
    color: var(--couleur-claire) !important;
}

/* couleur du contour du numéro de page en bas */
.page-item.active .page-link,
.page-item.active .page-link:hover {
    background: var(--couleur-tierce);
    border-color: var(--couleur-tierce);
}

.input-group-text #text {
    background-color: var(--couleur-claire);
}

.page-actions a {
    background-color: var(--couleur-fonce);
}

/* ici pour virer le slug,
Ludivine c'est ici si ton form déconne  */
#new-Animations-form .row div:nth-child(12),
#edit-Animations-form .row div:nth-child(12) {
    display: none !important;
}

/* ici c'est pour le slug du vin */
#new-Vin-form .row div:nth-child(40),
#edit-Vin-form .row div:nth-child(40) {
    display: none !important;
}

/* ici c'est pour le slug du blog */
#new-Blog-form .row div:nth-child(12),
#edit-Blog-form .row div:nth-child(12) {
    display: none !important;
}

.list-pagination-counter strong {
    color: var(--couleur-tierce);
}

td time {
    color: var(--couleur-claire);
}

.content-wrapper {
    background-color: var(--couleur-fonce);
    min-height: 100vh;
    min-width: calc(100vw - 230px);
}

.content-header,
.action-saveAndReturn,
.action-saveAndAddAnother {
    background-color: var(--couleur-fonce);
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):active,
.btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):active:focus,
.btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):focus,
.btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):hover,
.btn:hover {
    background-color: var(--couleur-fonce) !important;
}

.form-control {
    background-color: var(--couleur-claire) !important;
}

/* pop up */
.modal-footer .btn-secondary .btn-label {
    color: var(--couleur-claire);
}

.datalist dt,
.datalist dd {
    color: var(--couleur-claire) !important;
}

.list-pagination-counter,
.btn-label .action-label {
    color: var(--couleur-claire);
}

.badge-secondary {
    background-color: var(--couleur-tierce) !important;
    color: var(--couleur-claire) !important;
}

.field-collection-add-button {
    color: var(--couleur-claire) !important;
}

.ts-wrapper.form-control:not(.disabled) .ts-control,
.ts-wrapper.form-control:not(.disabled).single.input-active .ts-control,
.ts-wrapper.form-select:not(.disabled) .ts-control,
.ts-wrapper.form-select:not(.disabled).single.input-active .ts-control {
    background: var(--couleur-claire) !important;
    border-color: var(--couleur-claire);
}

.has-error .CodeMirror,
.has-error .btn.input-file-container,
.has-error .ea-fileupload .input-group,
.has-error .ea-text-editor-wrapper,
.has-error .form-widget .form-select,
.has-error .form-widget input.form-control,
.has-error .form-widget textarea.form-control {
    box-shadow: var(--couleur-tierce);
}

.ea-fileupload label {
    background-color: var(--couleur-claire) !important;
    color: var(--couleur-fonce) !important;
}

.input-group-text {
    padding-left: 0 !important;
}

.datagrid tbody {
    box-shadow: 0 1px 0 var(--table-cell-border-color);
}

/* couleur boutton supprimer quand tu selectionne plusieurs elements */

.action-batchDelete {
    background-color: var(--couleur-tierce) !important;
    color: var(--couleur-claire) !important;
}

.action-saveAndContinue {
    background-color: var(--couleur-fonce) !important;
    color: var(--couleur-claire) !important;
}

.action-label {
    color: var(--couleur-claire) !important;
}

.form-check-input {
    background-color: var(--couleur-tierce) !important;
    border-color: var(--couleur-claire) !important;
}

.action-saveAndAddAnother {
    background-color: var(--couleur-fonce) !important;
}

.form-control {
    border-color: var(--couleur-claire) !important;
}

h2{
    color:var(--couleur-fonce);
    margin-top: 4%;
    margin-bottom: 3%;
    margin-right: 1%;
    margin-left: 1%;
    background-color: var(--couleur-claire);
    padding: 5%;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 10px;
}

h3{
    color:var(--couleur-fonce);
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: medium;
}

p{
    color:var(--couleur-fonce);
}

li{
    color:var(--couleur-fonce);
    margin-top: 2%;
}

.container {
    display: flex;
    justify-content: center ;
   
}

.site{
    padding: 3%;
    padding-left: 6%;
    padding-right: 6%;
    margin-right: 4%;
    margin-bottom: 50%;
    background-color: #e2dad4;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 10px;
}

.vin{
    padding: 3%;
    padding-left: 4%;
    padding-right: 4%;
    margin-right: 4%;
    margin-bottom: 50%;
    background-color: #e2dad4;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 10px;
}

.atelier{
    padding: 3%;
    padding-left: 8%;
    padding-right: 8%;

    margin-bottom: 50%;
    background-color: #e2dad4;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 10px;
}

.sk-divider {
    width: 80%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: var(--couleur-tierce);}