<form method="post" action="{{ path('app_vin_delete', {'slug': vin.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vin.id) }}">
    <button class="btn">Supprimer</button>
</form>
