{% extends 'base.html.twig' %}

{% block title %} {{ parent()}} - Modifier un Vin{% endblock %}

{% block body %}
    <h1>Modifier un Vin</h1>

    {{ include('vin/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_vin_index') }}">Retour à la liste des vins</a>

    {{ include('vin/_delete_form.html.twig') }}
{% endblock %}
