{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Nouveau Vin{% endblock %}

{% block body %}
    <h1>Ajouter un vin</h1>

    {{ include('vin/_form.html.twig') }}

    <a href="{{ path('app_vin_index') }}">retour à la liste</a>
{% endblock %}
