{% extends 'base.html.twig' %}

{% block title %}Hello ConditionsVenteController!{% endblock %}

{% block body %}
<span class="vgBodySpanMentions">
    <h1 class="vgToph2 vgH1MentionsLegales vgBottomh1">Conditions générales de vente</h1>
    <p class="vgPMentions">
    Ces conditions générales de vente existent pour formaliser
    notre respect du client et de la transaction commerciale. Le
    fait pour un internaute de confirmer sa commande sur le site
    oenosphere-shop vaut acceptation pleine et entière des présentes
    conditions générales de vente dans leur intégralité. Le présent
    contrat sera régi par le droit français.

    Oenosphère est une petite entreprise locale à taille humaine, la
    satisfaction de nos clients est la première de nos priorités, nous
    mettrons tout en œuvre pour y parvenir, en cherchant les meilleures
    solutions en cas de problème. L’objectif étant de trouver un terrain
    d’entente et une résolution des problèmes à l’amiable.

    L’abus d’alcool est dangereux pour la santé, à consommer avec modération.


    La vente d’alcool est interdite aux personnes de moins de 18 ans.</p>
    <h2 class="vgH2MentionsLegales">
    I. INFORMATIONS LÉGALES
    </h2>
    <p class="vgPMentions">
    Dénomination : Oenosphère
    Siège social : 33 rue de Zurich 67000 STRASBOURG
    N° immatriculation RCS : 494 011 752 STRASBOURG
    EURL au capital de 200 000€
    SIRET 494 011 752 00024
    CODE APE : 4725Z
    N° TVA Int : FR10494011752
    Représentant légal : Benoit Hecker
    Site : oenosphere.com
    </p>
    <h2 class="vgH2MentionsLegales">
    II. APPLICATION DES CONDITIONS GÉNÉRALES DE VENTE
    </h2>
    <p class="vgPMentions">
    Les présentes conditions s’appliquent à la vente de produits par Oenosphère
    sur sa boutique accessible par Internet et par téléphone. Elles sont
    automatiquement mises à la disposition de
    l’acheteur sur la page d’accueil du site Internet oenosphere-shop.com ou
    .fr Il suffit pour l’acheteur de cliquer sur « Conditions Générales de Vente
    » (ci-après désignées C.G.V.)
    pour connaître les conditions de sa commande, avant même qu’il ait entamé
    le processus de commande.
    En conséquence, le fait de passer commande implique l’adhésion entière et
    sans réserve de l’acheteur à ces C.G.V., à l’exclusion de tous autres documents
    tels que prospectus, catalogues émis par le vendeur et qui n’ont qu’une valeur
    indicative.
    Le fait que le vendeur ne se prévale pas à un moment donné de l’une des
    quelconques dispositions des présentes ne peut être interprété comme valant
    renonciation à se prévaloir ultérieurement de l’une des quelconques
    desdites conditions.
    Nos offres sont exclusivement réservées à la clientèle particulière, à
    l’exclusion des revendeurs professionnels.
    Les commandes sont confirmées par l’envoi de la facture mais ne sont
    définitives qu’à réception de leur règlement intégral.
    </p>
    <h2 class="vgH2MentionsLegales">
    III. PRISE DE COMMANDE
    </h2>
    <p class="vgPMentions">
    Les informations énoncées par l’acheteur, lors de la prise de commande engagent
    celui-ci : en cas d’erreur dans le libellé des coordonnées du destinataire,
    le vendeur ne saurait être tenu responsable de l’impossibilité dans laquelle
    il pourrait être de livrer le produit.
    Les commandes ne sont définitives que lorsqu’elles ont été confirmées par le
    règlement du prix par l’acheteur.


    Toutes nos offres s’entendent dans la limite des stocks disponibles. En cas
    d’indisponibilité du produit commandé, Oenosphère en informe l’acheteur et
    peut lui proposer un produit d’une qualité et d’un prix équivalents ou, à
    défaut, un avoir du montant de la commande. En cas de désaccord de l’acheteur,
    nous procèderons au remboursement des sommes versées dans un délai de trois mois.


    Considérant le caractère rare ou spéculatif de certains produits, des restrictions
    sur les quantités disponibles peuvent être appliquées. Dans un tel cas, la quantité
    disponible s’entend limitée par foyer (même nom, même adresse, même adresse email,
    même titulaire de compte ou de carte bancaire).
    </p>
    <h2 class="vgH2MentionsLegales">
        IV. PRIX
    </h2>
    <p class="vgPMentions">
    Indication :
    Les prix sont indiqués, en Euros (€). Ils sont indiqués TTC, hors frais de port.
    Sous réserve d’erreur typographique et d’affichage.

    Produits livrés en FRANCE METROPOLITAINE : les prix tiennent compte de la TVA et
    des droits français.
    Pour toute livraison des Produits en Corse ou dans les DROM-COM (anciennement
    DOM-TOM) ou à l’exportation, l’acheteur devra consulter directement Oenosphère
    pour connaître les frais de livraison.
    En cas de commande vers un pays autre que la France métropolitaine, le Client
    est réputé être l’importateur du ou des Produits concernés. Des droits de douane
    ou autres taxes locales ou droits d’importation ou taxes d’état sont susceptibles
    d’être exigibles. Ces droits et sommes ne relèvent pas du ressort d’Oenosphère.
    Ils seront à la charge du Client et relèvent de son entière responsabilité,
    tant en termes de déclarations que de paiements aux autorités et/ou organismes
    compétent du pays du Client. Il est conseillé au Client de se renseigner sur
    ces aspects auprès des autorités locales.
    Facturation :
    Une facture détaillée sera fournie au client. Les factures sont en Euros (€).
    Tous les règlements bancaires sont effectués en Euros (€).
    </p>
    <h2 class="vgH2MentionsLegales">
    V. QUANTITÉ MINIMUM
    </h2>
    <p class="vgPMentions">Certaines références feront l’objet d’un minimum de commandes. Cette condition
    particulière est clairement précisée sur le site pour chacune
    des références concernées.
    </p>
    <h2 class="vgH2MentionsLegales">
    VI. FRAIS DE PORT
    </h2>
    <p class="vgPMentions">
    Principes de calcul des frais de port:
    Les frais de port peuvent varier en fonction du type de transport, du
    lieu de livraison, du poids ou du nombre d’articles.
    </p>
    <h2 class="vgH2MentionsLegales">
    VII. LIVRAISON ET RECEPTION
    </h2>
    <p class="vgPMentions">
    La livraison est effectuée par le transporteur à l’adresse indiquée par le
    client au moment de sa commande (ou par un avis de mise à disposition en
    l’absence du client). Les vins sont livrés en cartons de 1, 2, 3, 6 ou 12
    bouteilles livrables en une seule fois au même endroit. Oenosphère s’engage
    à tout mettre en œuvre afin de livrer les produits commandés dans les délais
    les plus rapides. Les délais moyens varient en fonction du lieu de destination
    choisi par le client, ils courent à compter de la vérification des données
    client et de la réception du règlement par Oenosphère.


    Vérifiez toujours votre colis à l’arrivée en présence du livreur. Les réserves
    doivent être prises à réception en présence du livreur, une fois le colis
    accepté, il est considéré que la livraison est conforme.


    En tout état de cause, la livraison devra avoir lieu dans le délai maximum
    de trente (30) jours à compter de la transmission de la commande. Si la
    livraison ne pouvait être assurée dans ce délai, le consommateur serait
    informé au plus tôt et pourrait annuler sa commande. Il pourrait alors
    demander l’échange du produit ou son remboursement.


    NB: certains produits ou packaging peuvent avoir une incidence sur le
    nombre de colis et de ce fait le coût du transport.
    </p>
    <h2 class="vgH2MentionsLegales">
    VIII. PAIEMENT
    </h2>
    <p class="vgPMentions">
    Conditions de paiement
    Le prix des articles commandés est payable en totalité à Oenosphère,
    dés l’émission de votre bon de commande sur le site, selon un des modes
    de règlement suivants :

    par carte bancaire (paiement sécurisé en ligne)
    par Paypal
    par virement bancaire
    A réception de votre règlement, nous vous expédierons les vins. Sur
    demande, nous enverrons une facture définitive faisant ressortir le montant
    de la TVA au taux en vigueur (actuellement 20%), les droits d’accises
    et la participation aux frais de transport et de mise à disposition.

    Modes de règlement
    1. Internet : le paiement sécurisé par carte bancaire
    Nous avons mis en place pour vous une procédure sécurisée de paiement
    par carte bancaire sur Internet. Cette procédure s’appuie sur la
    technologie de cryptage des informations, véritable référence du
    paiement sécurisé. (Réalisé par Monetico service du Groupe CIC Crédit Mutuel)


    Lors de votre paiement, vous enregistrez vos numéros et date d’expiration
    de carte bancaire qui sont aussitôt cryptés dans votre ordinateur avant
    d’être envoyés sur Internet. Ainsi, aucun renseignement confidentiel ne
    circule sur le réseau sans avoir été préalablement crypté.
    Attention : seules les cartes bancaires présentant le sigle CB, VISA,
    EUROCARD, MASTERCARD sont acceptées.

    2. Paypal ( nous contacter pour les détails)
    3. Virement bancaire
    a) Dans le « panier », choisissez le mode de paiement par virement bancaire.
    b) Donnez l’ordre de virer le montant de la commande en Euros (€) sur le
    compte bancaire :
    </p>
    <h2 class="vgH2MentionsLegales">
    IX. TRANSPORT ET RESPONSABILITÉ
    </h2>
    <p class="vgPMentions">
    Les frais de port sont automatiquement calculés sur notre site suivant la
    destination de la commande et la quantité des produits. Le Client est tenu
    de vérifier attentivement ses colis à leur livraison, en présence du
    livreur, afin d’émettre immédiatement d’éventuelles réserves auprès du
    transporteur.
    Aucune réclamation ne pourra être jugée recevable si le Client a accepté
    sans réserve ses colis lors de leur livraison. Toute erreur ou modification
    faite par le Client dans un ordre de livraison en cours et ce quelle
    qu’elle soit, entraîne une prorogation du délai de livraison prévu. Les
    frais supplémentaires seront à la charge du Client.
    Il vous appartient donc de vérifier le contenu du colis au moment de la
    livraison et de formuler des réserves le cas échéant, de la façon suivante :
    Sur le bordereau de livraison fourni par le transporteur.
    Et, dans tous les cas, en prévenant la société Oenosphère par lettre
    recommandée AR adressée à son siège social (33 rue de Zurich 67000 STRASBOURG)
    dans les trois (3) jours de la réception du colis.


    En cas de casse ou d’avarie au cours de la préparation de la commande,
    Oenosphère ferait le nécessaire pour vous livrer à nouveau, ou sinon
    vous rembourserait la somme versée à la
    commande. VOUS SEREZ AVERTI PAR NOTRE SERVICE CLIENTS.


    ASSURANCE: Lors du transport et jusqu’à sa bonne réception, la marchandise
    est assurée.
    Vérifiez toujours votre colis à l’arrivée en présence du livreur, une
    fois le colis accepté, il est considéré que la livraison est conforme.
    Vous devez immédiatement prendre d’éventuelles
    réserves auprès du transporteur en cas de manquant ou de dégradation.
    </p>
    <h2 class="vgH2MentionsLegales">
    X. RETOUR DU PRODUIT
    </h2>
    <p class="vgPMentions">
    Votre droit
    En application de l’article L. 121-16 du Code de la Consommation, vous
    avez la possibilité de retourner, à vos frais, à l’adresse de notre siège
    indiquée à l’article 1er, le produit dans un délai de quatorze (14) jours
    à compter de la livraison, en bon état et dans son emballage d’origine
    avec la facture originale, pour échange ou remboursement d’un montant
    correspondant à la valeur du produit retourné ainsi que des frais
    d’expédition initiale.

    Prise en charge des frais de retour
    Oenosphère ne prendra à sa charge les frais de retour (au tarif de base
    en vigueur) que si l’une des deux conditions suivantes est réalisée :


    La livraison s’avère non conforme à la commande, ou vous avez effectué
    des réserves auprès du transporteur (voir article 9 : transport et responsabilité)
    Veuillez, dans ce cas là , prendre contact avec notre service clients dont les
    coordonnées figurent à l’article 14, pour le choix du transporteur.
    </p>
    <h2 class="vgH2MentionsLegales">
    XI. RÉSERVE DE PROPRIÉTÉ
    </h2>
    <p class="vgPMentions">
    Jusqu’au paiement effectif et intégral du prix, Oenosphère reste propriétaire
    des biens vendus. Le complet règlement vaudra transfert de propriété, toutefois
    l’acheteur devient responsable des articles dès la livraison, le
    transfert de possession valant transfert de risques.
    </p>
    <h2 class="vgH2MentionsLegales">
    XII RESOLUTION DU CONTRAT
    </h2>
    <p class="vgPMentions">
    A défaut de paiement par le client à l’échéance convenue et un mois après
    une mise en demeure restée infructueuse, la vente sera résolue de plein
    droit si bon semble au vendeur, avec restitution des acomptes versés par
    l’acquéreur, et possibilité pour le vendeur de demander en référé, la
    restitution des produits déjà livrés le cas échéant, sans préjudice
    d’autres dommages et intérêts.

    Dans l’hypothèse d’un recouvrement par voie de contentieux, celui-ci
    donnera lieu à une indemnité forfaitaire s’élevant à 15% du montant
    de la commande.
    </p>
    <h2 class="vgH2MentionsLegales">
    XIII. CONFIDENTIALITÉ DES DONNÉES
    </h2>
    <p class="vgPMentions">
    Droit d’accès et de rectification
    Afin de répondre à vos besoins et d’assurer un service à distance optimal,
    nous sommes amenés à enregistrer certains éléments vous concernant (nom,
    prénom, adresse).
    Vous pourrez être amené à recevoir, par l’intermédiaire d’Oenosphère, des
    propositions d’autres entreprises ou organismes, ou être informé des offres
    Oenosphère par téléphone, courrier postal ou électronique.
    Si vous ne le souhaitez pas, il vous suffit d’écrire à notre service clients
    en indiquant vos noms, prénoms et adresse ou de modifier les informations
    vous concernant dans la page « Votre panier ».
    En application de la loi Informatique et Libertés du 6 janvier 1978, vous
    bénéficiez d’un droit d’accès et de rectification sur les données enregistrées.
    Vous pourrez également les faire rectifier en vous adressant à notre service
    clients.

    Informations bancaires
    De plus, toutes les informations bancaires que vous nous communiquez, lors
    d’un achat en ligne, ne sont ni stockées, ni visibles sur Internet. Personne
    ne peut intercepter les informations que vous envoyez. Par son système de
    sécurisation, Oenosphère vous certifie la confidentialité de vos données.


    Les informations en rapport avec votre commande font l’objet d’un traitement
    automatisé de données. Ce traitement automatisé de données a pour finalité
    de définir un niveau d’analyse d’une transaction et de lutter contre la
    fraude à la carte bancaire.

    CM-CIC p@iement est le destinataire des données en rapport avec votre commande.
    La non-transmission des données en rapport avec votre commande empêche la
    réalisation et l’analyse de votre transaction.


    La survenance d’un impayé au motif d’une utilisation frauduleuse d’une carte
    bancaire entraînera l’inscription des coordonnées en rapport avec votre
    commande associé à cet impayé au sein d’un fichier incident de paiement.
    Une déclaration irrégulière ou une anomalie pourra également faire l’objet
    d’un traitement spécifique.


    Conformément à la loi Informatique et Libertés du 6 janvier 1978 vous
    disposez, à tout moment, d’un droit d’accès, de rectification, et
    d’opposition à l’ensemble de vos données personnelles en écrivant,
    par courrier et en justifiant de votre identité.

    </p>
    <h2 class="vgH2MentionsLegales">
    XIV. LÉGISLATION APPLICABLE ET JURIDICTION COMPÉTENTE
    </h2>
    <p class="vgPMentions">
    En cas de difficultés dans l’application des présentes conditions
    générales de vente, nous vous invitons à rechercher une solution
    amiable en prenant contact avec notre service clients.
    Service clients Oenosphère
    33 rue Zurich 67000 STRASBOURG
    Du mardi au samedi : de 10 heures à 19 heures
    Téléphone : 03 88 36 10 87
    E-mail: info@oenosphere.com


    En cas d’échec des négociations, les dispositions suivantes trouveront à s’appliquer :


    Contrat conclu par un consommateur français à partir de la France
    Le présent contrat est soumis à la législation française.

    MÉDIATION DE LA CONSOMMATION
    Selon l’article L.612-1 du Code de la consommation, il est rappelé que « tout
    consommateur a le droit de recourir gratuitement à un médiateur de la consommation
    en vue de la résolution amiable du litige qui l’oppose à un professionnel.
    A cet effet, le professionnel garantit au consommateur le recours effectif
    à un dispositif de médiation de la consommation ». A ce titre le Vendeur
    propose à ses Clients, dans le cadre de litiges qui n’auraient pas trouvé
    résolution de manière amiable, la médiation d’un médiateur de la consommation,
    dont les coordonnées sont les suivantes :

    FCD – Fédération du Commerce et de la Distribution
    FCD

    12 rue Euler

    75008 PARIS

    Il est rappelé que la médiation n’est pas obligatoire mais uniquement proposée
    afin de résoudre les litiges en évitant un recours à la justice.

    TRIBUNAUX COMPETENTS
    Tout litige qui n’aura pas trouvé d’accord à l’amiable sera du ressort des
    Tribunaux du siège social du Vendeur
    </p>
    <h2 class="vgH2MentionsLegales">
    XV. PROTECTION DES MINEURS
    </h2>
    <p class="vgPMentions">
    Conformément à l’article L. 3342-1 du Code de la Santé Publique qui stipule
    que la vente d’alcool à des mineurs de moins de dix-huit (18) ans est interdite,
    vous vous engagez, en remplissant le bon de commande, à avoir dix-huit (18)
    ans révolus à la date de la commande.
    </p>
    <h2 class="vgH2MentionsLegales">
    XVI. LE SUIVI DES COMMANDES
    </h2>
    <p class="vgPMentions">
    Si vous souhaitez connaître l’état de votre commande (en cours de préparation,
    expédiée, etc.), notre
    service clients est à votre disposition pour vous renseigner.
    Service clients Oenosphère
    33 rue de Zurich 67000 STRASBOURG
    E-mail: info@oenosphere.com
    </p>
</span>
{% endblock %}
