* {
    margin: 0;
}

:root {
    --couleur-fonce: #22323f;
    --couleur-claire: #e2dad4;
    --couleur-tierce: #9b2449;
    --font: 'Montserrat', sans-serif;
}

body {
    font-family: var(--font);
    background-color: var(--couleur-fonce);
}

.headerNavbar {
    background-image: url(/assets/images/wave.svg);
    background-size: cover;
    height: 50vh;
}

@media screen and (max-width: 1068px) {

    .headerNavbar {
        height: 30vh;
    }

}


.img-logo {
    width: 100%;
    height: auto;
}

.divlogonav {
    width: 20%;
    min-width: 150px;
    max-width: 200px;
}

// Gestion du bouton burger navbar
.bar1,
.bar2,
.bar3 {
    display: none;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.ulDisplayedToggle {
    display: none;
}

.burgerBars {
    display: inline-flex !important;
    flex-direction: row;
    margin-top: 1.5vh;
    z-index: 50;
}

.vgFormField input {
    background-color: var(--couleur-claire);
    border: none;
    border-radius: 70px;
    height: 28px;
    min-width: 180px;
    max-width: 500px;
    width: 40%;
    text-align: center;
}

.marginpanier {
    margin-top: 1.7vh;
    margin-right: 1.2vw;
}

#nav4 ul {
    padding: 0 0 0 5px !important;
    // border: solid var(--couleur-tierce) 3px;
}

.faq {
    margin-bottom: 4px;
}

@media screen and (max-width: 1068px) {

    #nav1 {
        order: 1;
    }

    #nav2 {
        order: 2;
    }

    #nav3 {
        order: 3;
    }

    #nav4 {
        order: 4;
        padding-left: 40px;
    }

    #nav5 {
        order: 5;
    }

    #nav6 {
        order: 6;
    }

    #nav7 {
        order: 7;
    }

    #nav8 {
        order: 8;
    }

    .marginUser {
        margin: 0 !important;
    }

    .ulnavburger {
        background-color: var(--couleur-claire);
        padding: 0 10px;
        border: 3px solid var(--couleur-tierce);
    }

    nav ul li:hover .listederoulante {
        display: block;
        margin-right: 325px;
        margin-top: -14px;
        width: 140px;
        height: 160px;
        display: flex;
        flex-direction: column;
        align-items: end;
        background-color: var(--couleur-claire);
        padding: 0 !important;
        border: 3px solid var(--couleur-tierce);
    }

    nav ul li:hover .listederoulante li {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 10px;
    }

    .burgerzz {
        cursor: pointer;
        margin-top: 5vh;
    }

    .burgerBars {
        display: inline-flex !important;
        flex-direction: column;
        align-items: end;
        margin-top: -2vh;
        margin-right: 3vh;
    }

    #navMenu {
        display: flex;
        align-items: end;
    }

    .ulnavburger {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
    }

    .liennavtoggle {
        display: none !important;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        display: block !important;
    }

    .marginLinks {
        margin-right: 0 !important;
        margin-bottom: 1vh;
        margin-top: 1vh !important;
        display: flex;
        justify-content: center;
    }

    .marginpanier {
        margin-bottom: 1vh;
        margin-top: 0;
    }

}

.ulnavburger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.ulnavburger li {
    padding: 0;
}

.ulnavpad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ulnavpad li {
    padding: 0;
}

nav ul .linav {
    list-style: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burgerBars {
        margin-right: 0;
    }

    .burgerBars {
        display: inline-flex !important;
        flex-direction: column;
        align-items: center;
        margin-top: -2vh;
    }

    .burgerzz {
        margin-top: 3.8vh;
    }

    #navMenu {
        display: flex;
        align-items: center;
    }

    #nav4 {
        order: 4;
        padding-left: 0;
    }

    nav ul li:hover .listederoulante {
        display: block;
        margin-right: 0;
        margin-top: 20px;
        width: 140px;
        height: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--couleur-claire);
        padding: 0 !important;
        border: 3px solid var(--couleur-tierce);
    }

    nav ul li:hover .listederoulante li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
    }

}

.listederoulante {
    display: none;
    position: absolute;
    background-color: var(--couleur-claire);
    text-decoration: none;
    min-width: 10%;
    z-index: 1;
}

nav ul li:hover .listederoulante {
    display: block;
}

a {
    color: var(--couleur-claire);
    text-decoration: none;
}

.marginLinks {
    margin-top: 2.5vh;
    margin-right: 2.5vw;
}

.marginUser {
    margin-top: 0.6vh;
    margin-right: 1.2vw;
    margin-left: 1vw;
}

ul .listederoulante li {
    margin-top: 1.2vh;
}

.liennav {
    color: var(--couleur-tierce);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
}

.liennav:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: #e0115f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.liennav:hover:after {
    width: 100%;
    left: 0;
}

.liennav:hover {
    color: #e0115f;
    cursor: pointer;
}

/* Gère la couleur du bouton */
.dropdown .dropbtn {
    border-style: solid;
    border-width: 2px;
    border-color: var(--couleur-fonce);
    background-color: var(--couleur-claire);
    color: var(--couleur-fonce);
    padding: 10px 70px;
    margin-top: 10px;
}

/* ajoute le fond rouge quand tu hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--couleur-fonce);
    color: var(--couleur-claire);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    background-color: var(--couleur-claire);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: var(--couleur-tierce);
    padding: 10% 20%;
    text-decoration: none;
    display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--couleur-fonce);
    color: var(--couleur-claire);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Index Page */
.titre-accueil {
    color: var(--couleur-claire);
    padding-bottom: 2%;
    font-size: 400%;
    margin-top: -5%;
    margin-right: 40%;
}

.color-modif {
    color: var(--couleur-tierce);
}

.txt-accueil {
    color: var(--couleur-claire);

    padding-bottom: 2%;
    font-size: larger;
    margin-right: 40%;
    margin-bottom: 3%;
}

.cta-accueil {
    color: var(--couleur-claire);
    background: var(--couleur-tierce);
    text-align: center;
    border-radius: 70px;
    padding: 1% 3%;
    text-decoration: none;
    margin-bottom: 5%;
}

.cta-accueil:hover {
    background: #e0115f;
    text-decoration: none;
}

.image {
    display: flex;
    align-items: center;
}

.img-wine {
    position: absolute;
    bottom: 0;
    right: 0;
    left: -30;
    margin-right: 0;
    max-height: auto;
    max-width: 600px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 60%;
}

.user-login {
    margin-left: 5px;
}

.quisommesnous {
    color: var(--couleur-fonce);
}

.presentation {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 5%;
    color: var(--couleur-fonce);
}

.background {
    background-color: var(--couleur-claire);
    padding: 3% 6%;
}

.textedepresentation {
    margin-top: 5%;
    margin-bottom: 5%;
}

.photocedric {
    margin-right: -5%;
}

/* Alarm form contact mail */
.sk-success {
    color: var(--couleur-claire);
    background-color: var(--couleur-tierce);
    width: 30%;
    height: 5vh;
    margin: auto;
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sk-error {
    color: var(--couleur-claire);
    background-color: red;
    width: 30%;
    height: 5vh;
    margin: auto;
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 544px) {

    .titre-accueil {
        font-size: 240%;
    }

}

@media only screen and (max-width: 741px) {

    .photocedric {
        display: none;
    }

}

@media only screen and (max-width: 1068px) {

    .titre-accueil {
        padding-bottom: 15px;
        margin: 0;
    }

    .vgIndexContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .txt-accueil {
        margin: 0;
        padding-bottom: 20px;
    }

    .img-wine {
        display: none;
    }


    .img-wine {
        display: none;
    }

}