.vgDivContainer {
    display: flex;
    justify-content: center;
}

.infoBarMemory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1memory {
    color: #e2dad4;
    text-align: center;
}

/*
   * Styles for the deck of cards
   */

.deck {
    width: 620px;
    background: #9b2449;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.deck .card {
    height: 100px;
    width: 100px;
    margin: 8px;
    background: #e2dad4;
    font-size: 0;
    color: #e2dad4;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

@media screen and (max-width: 787px) {
    .deck {
        width: 500px;
    }

    .deck .card {
        width: 75px;
        height: 75px;
    }
}

@media screen and (max-width: 620px) {
    .deck {
        width: 370px;
        margin: 0 auto 3em;
    }

    .deck .card {
        width: 50px;
        height: 50px;
    }
}

//1
.deck .card.open {
    transform: rotateY(0);
    background: #22323f;
    cursor: default;
}

.deck .card .imgvisible {
    width: 120px;
}

.deck .card .imghidden {
    width: 0px;
}

//5
.deck .card.match {
    cursor: default;
    background: #22323f;
}

@keyframes card-match {

    //2
    from {
        background: #22323f;
    }

    //3
    50% {
        background: #22323f;
        opacity: 60%;
    }

    //4
    to {
        background: #22323f;
    }
}

/*
   * Styles for the Score Panel
   */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: #e2dad4;
}

.score-panel .stars li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
     * Styles for the Win Dialog
     */

.win-dialog {
    display: none;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.win-dialog .win-icon {
    font-size: 144px;
    color: var(--couleur-claire);
}

.win-dialog .win-banner {
    font-size: 32px;
    color: var(--couleur-claire);
}

.win-dialog .win-summary {
    font-size: 32px;
    color: var(--couleur-claire);
}

.win-dialog .win-button {
    background-color: var(--couleur-claire);
    border-radius: 20px;
    padding: 10px;
}

.win-button {
    margin-top: 5%;
    margin-left: 45%;
    max-width: 10%;
}