.vgH2MentionsLegales {
    color: var(--couleur-tierce);
    margin-top: 30px;
    margin-bottom: 30px;
}

.vgToph2 {
    margin-top: -8vh;
}

.vgBottomh1 {
    padding-bottom: 25px;
}

.vgBodySpanMentions {
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
}

.vgPMentions {
    text-align: justify;
    color: var(--couleur-claire);
    line-height: 24px;
}

.vgH1MentionsLegales {
    color: var(--couleur-tierce);
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;

}