{% extends 'base.html.twig' %}

{% block title %}New Cepage{% endblock %}

{% block body %}
    <h1>Create new Cepage</h1>

    {{ include('cepage/_form.html.twig') }}

    <a href="{{ path('app_cepage_index') }}">back to list</a>
{% endblock %}
