{% extends 'base.html.twig' %}

{% block title %}Edit FicheDegustation{% endblock %}

{% block body %}
    <h1>Edit FicheDegustation</h1>

    {{ include('fiche_degustation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_fiche_degustation_index') }}">back to list</a>

    {{ include('fiche_degustation/_delete_form.html.twig') }}
{% endblock %}
